*
    padding: 0
    margin: 0
    box-sizing: border-box
    font-family: 'Roboto Condensed'

.container
    margin: 0 auto
    max-width: 1200px

    
@import 'blocks/layout'
@import 'blocks/titles'
@import 'blocks/header'
@import 'blocks/nav'
@import 'blocks/main'
@import 'blocks/advantages'